#****************** .aliases *******************
# created: 2015/02/03
# Last Change:2017-Mar-02.
#************************************************************

#-------------------------------------------------------#
# for unix
#-------------------------------------------------------#
# lsに色付け
case "${OSTYPE}" in
# mac
darwin*)
    alias la='ls -GFt'
    alias lh='ls -GFt | head'
    alias laa='ls -GFtalh'
    alias lg='ls -GFt | grep'
    ;;
linux*)
    alias la='ls -Ft --color=tty'
    alias lh='ls -Ft --color=tty| head'
    alias laa='ls -Ftalh --color=tty'
    alias lg='ls -Ft --color=tty | grep'
    ;;
esac

alias dots='cd $DOTSDIR'
alias vv="vim $DOTSDIR/.vimrc"
alias vn="vim $DOTSDIR/.vimrc.neobundle"
alias vp="vim $DOTSDIR/.vimrc.plugin"
alias vz="vim $DOTSDIR/.zshrc"
alias vzo="vim $DOTSDIR/.zshrc.osx"
alias va="vim $DOTSDIR/.aliases"
alias sz="source $DOTSDIR/.zshrc"
alias vp="vim $DOTSDIR/.vimrc.plugin"
alias ....='cd ../../'
alias grep='grep --color'
# ディレクトリ末尾に'\', 半角表示
alias tree='tree -F --charset=C'
# 擬似tree, http://qiita.com/yone098@github/items/bba8a42de6b06e40983b
# pwd;find . | sort | sed '1d;s/^\.//;s/\/\([^/]*\)$/|--\1/;s/\/[^/|]*/| /g'
# tmuxでscreen-256colorを設定するとsshで文字化け
alias ssh='TERM=xterm ssh' # sshではxtermを使う


#-------------------------------------------------------#
# for git
#-------------------------------------------------------#
alias ga='git add'
alias gb='git B'
alias gc='git commit'
alias gca='git commit --amend'
alias gco='git checkout'
alias gd='git diff'
alias gdc='git diff --cached'
alias gdh='git diff HEAD^ HEAD'
alias gds='git diff --name-status'
alias gst='git status --short --branch'
alias gt='git tree -20'
alias gta='git tree --all'
alias gtd='git tree-detail'
# tig
alias tb='tig blame'

# for rsh tesla
alias stes13='ssh gr rsh tesla13'
alias stes14='ssh gr rsh tesla14'
alias stes15='ssh gr rsh tesla15'
alias stes16='ssh gr rsh tesla16'

# proxy 切替
alias proxy_on="source $DOTSDIR/bin/proxy_on.sh"
alias proxy_off="source $DOTSDIR/bin/proxy_off.sh"

# tmux
alias mytmux='tmux new-session \; source-file ~/.tmux.conf.3panes-horizontal'
alias tmux_sync_on="tmux set-window-option synchronize-panes on"
alias tmux_sync_off="tmux set-window-option synchronize-panes off"

# python
alias ipython="ipython3 --profile=yyamnk --matplotlib --pprint --no-banner"
alias test_oprc='python -m unittest discover -s ~/lab/src_lib/python/oprc/tests --pattern="*.py"'

# diff
# alias diff="diff -u"
if [[ -e /usr/local/bin/colordiff ]]; then
    alias diff='colordiff -u'
else
    alias diff='diff -u'
fi

# supervisor
if [[ -e ${HOME}/.pyenv/shims/supervisorctl ]]; then
    alias supervisorctl='supervisorctl -c ~/conf/supervisor/supervisord.conf'
    alias supervisord_up='supervisord -c ~/conf/supervisor/supervisord.conf'
fi

alias src='cd ~/lab/src_lib/'

# matlab
alias mat='matlab -nojvm -nosplash -nodesktop -nodisplay -noFigureWindows'
alias matd='matlab -nosplash -nodesktop'

#-------------------------------------------------------#
# for mac
#-------------------------------------------------------#
case "${OSTYPE}" in
# for mac
darwin*)
    alias top="top -u -R" # デフォルトはCPU消費順になってない. メモリ計算重い
    alias caskroom="cd /usr/local/Caskroom/"

    # rm -> move trash
    alias rm='~/usr/local/osx-mv2trash/bin/mv2trash'
    # for maxima, 矢印や補完を使えるrmaximaを使用する
    alias maxima='rmaxima'
    alias op='open'
    # open current with gitX
    alias gx='open ./ -a gitX'

    # matlab
    alias mat7='/Applications/MATLAB_R2007b/bin/matlab -nojvm -nosplash -nodesktop -nodisplay -noFigureWindows'
    alias mat7d='/Applications/MATLAB_R2007b/bin/matlab -nojvm -nosplash -nodesktop'
    alias distcomp='cd /Applications/MATLAB_R2014a.app/toolbox/distcomp/'

    # MATLAB_R2007B関連
    # alias matlab='DYLD_LIBRARY_PATH=/System/Library/Frameworks/JavaVM.framework/Libraries \
    #     /Applications/MATLAB_R2007b/bin/matlab -nojvm -nosplash -desktop -nodisplay'
    # alias matlabDisp='DYLD_LIBRARY_PATH=/System/Library/Frameworks/JavaVM.framework/Libraries \
    #     /Applications/MATLAB_R2007b/bin/matlab -nodesktop -nosplash -nojvm'
    # alias matlabJave='DYLD_LIBRARY_PATH=/System/Library/Frameworks/JavaVM.framework/Libraries \
    #     /Applications/MATLAB_R2007b/bin/matlab -nodesktop -nosplash'
    #

    # tex
    # alias tex2dvi='platex FILENAME.tex'
    # alias dvi2pdf='dvipdfmx -f hiragino.map FILENAME.dvi'
    # alias tex2text='detex -e align, equation, eqnarray, cases, subnumcases, tabular main.tex > main.txt'
    alias tlmgr='tlmgr --no-persistent-downloads'
    # alias sudo tlmgr='sudo tlmgr --no-persistent-downloads'
    alias stlmgr='sudo tlmgr --no-persistent-downloads'
    alias latexmkc='latexmk -pvc -interaction=nonstopmode'
    alias latexmkclear='latexmk -c'
    alias latexmkp='latexmk -interaction=nonstopmode -pv'
    alias tex2rtf='latex2rtf -b ./build/main.bbl -a ./build/main.aux -E0'

    alias vma='vim main.tex'

    # postgreSQL
    # http://qiita.com/tstomoki/items/0f1a930bd42a8e1fdaac
    alias pgup='pg_ctl start -l ~/.pgserver.log'
    alias pgdown='pg_ctl stop -s -m fast'
    alias pgstat='pg_ctl status'

    # rq-dashboard
    alias rq-dashboard_open='open http://127.0.0.1:9181/ -a Google\ Chrome'

    # karabiner
    alias karabiner-cd='cd ~/db/apps/Karabiner/'
    alias karabiner-edit='vim ~/Library/Application\ Support/Karabiner/private.xml'
    alias karabiner-backup='/Applications/Karabiner.app/Contents/Library/bin/karabiner export > ~/db/apps/Karabiner/karabiner-import.sh'
    alias karabiner-restore='sh ~/db/apps/Karabiner/karabiner-import.sh'
    alias karabiner='/Applications/Karabiner.app/Contents/Library/bin/karabiner'

    # rsync関連
    # circuit 3-5, grouseへpush
    alias push2cals='bash ~/lab/src_lib/shellscripts/rsyncs/push2hosts.sh'
    alias fetch_cals='bash ~/lab/src_lib/shellscripts/rsyncs/fetch_hosts.sh'

    # ログ監視
    alias logs='tail -f ~/matLocal/logs'
    # remote cmd
    alias rdo='remote_do_matfuncs.sh'

    # for mongoDB
    alias mongod='mongod --dbpath ~/db/mongoDB'
    # mp4 to m4a
    alias mp4_m4a='afconvert -f m4af -d aac'
    # nkf 文字コードをUTF-8, 改行コードをLFに変換
    alias nkfu='nkf -w -Lu --overwrite'

    #gollum
    # alias start_wiki='gollum --mathjax --allow-uploads --show-all > ~/.gollum.log &'
    alias start_wiki='rackup ~/db/wiki/config.ru -D --port 9200 && echo "start wiki port:9200" && open -a Safari http://localhost:9200'
    alias stop_wiki='kill `pgrep -f rackup`'

    #------ directory
    alias db='cd ~/db'
    alias wiki='cd ~/db/wiki'

    alias php='cd ~/db/php'
    alias ror='cd ~/db/ror'
    alias py='cd ~/db/myPy'
    alias shs='cd ~/db/shscripts'

    # alias nfes15='cd ~/db/ror/nutfes2015'
    alias nfes15='cd ~/db/nfes15'
    alias nfes14='cd ~/db/ror/nutfes2014'
    alias nfes13='cd ~/db/ror/nutfes2013'
    alias survey='cd ~/db/ror/nutfes-survey'
    alias be='bundle exec'
    alias bep='RAILS_ENV=production bundle exec'


    #-------------------------------------------------------#
    # for lab works
    #-------------------------------------------------------#
    alias lab='cd ~/lab'
    alias web='cd ~/db/lab_web/'
    alias bibs='cd ~/db/apps/Mendeley'
    alias exp='cd ~/lab/experiments/'
    alias oprc='cd ~/lab/src_lib/python/oprc'

    # lab matlab
    alias matl='cd ~/matLocal'
    alias mats='cd ~/mat_server'

    # docs_my
    alias wmeeting='cd ~/lab/docs_my/reports/'
    alias journal='cd ~/lab/docs_my/journals/oprc_nolta/tex_src/'
    ;;
linux*)
    # use zsh, vim under home
    [ -e ${HOME}/usr/local/bin/zsh ] && alias zsh='${HOME}/usr/local/bin/zsh'
    [ -e ${HOME}/usr/local/bin/vim ] && alias vim='${HOME}/usr/local/bin/vim'
    [ -e ${HOME}/usr/local/bin/tmux ] && alias tmux='LD_LIBRARY_PATH=${HOME}/usr/local/lib tmux'

    # for cluster, circuit-c*
    if [ `hostname | cut -c 1-9` = "circuit-c" ]; then
        alias mat='matlab -nodisplay -nodesktop -nosplash'
        [ `hostname | cut -c 11` -ge 5 -a `hostname | cut -c 11` -le 8 ]; \
            alias distcomp='cd /usr/local/MATLAB/R2014a/toolbox/distcomp'
    fi
    # for tesla*
    if [ `hostname | cut -c 1-5` = "tesla" ]; then
        alias distcomp='cd /usr/local/MATLAB/R2011b/toolbox/distcomp/'
    fi
    ;;
esac
