# global
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	editor = vim
[difftool "latex"]
	cmd = latexdiff  \"$LOCAL\" \"$REMOTE\"
[alias]
	tree = log --graph --date=short --format=\"%C(yellow)%h%C(reset) %C(auto)%d%C(reset) %s\"
	tree-detail = log --graph --date=short --format=\"%C(yellow)%h%C(reset) %C(green)[%ad]%C(reset) %C(cyan)@%an%C(reset)%C(auto)%d%C(reset) %s \"
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[include]
	path = .gitconfig.local
[merge]
	tool = vimdiff
[http]
	proxy = http://proxy.cc.utsunomiya-u.ac.jp:8080
[https]
	proxy = http://proxy.cc.utsunomiya-u.ac.jp:8080
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
