# global
[core]
	excludesfile = ~/.gitignore_global
[difftool "latex"]
	cmd = latexdiff  \"$LOCAL\" \"$REMOTE\"
[alias]
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[include]
	path = .gitconfig.local
