# global
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
[difftool "latex"]
	cmd = latexdiff  \"$LOCAL\" \"$REMOTE\"
[alias]
	tree = log --graph --date=short --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[include]
	path = .gitconfig.local
