[Desktop Entry]
Name=1Password Browser Helper
Comment=Allow browser plugins to interact with the 1Password database
Exec=env WINEPREFIX="/home/yyamnk/.wine" wine "/home/yyamnk/.wine/drive_c/Program Files (x86)/1Password 4/Agile1pAgent.exe"
Type=Application
StartupNotify=true
Path=/home/<username>/.wine/drive_c/Program Files (x86)/1Password 4
Icon=C775_1Password.0
StartupWMClass=Agile1pAgent.exe
